atomicwrites
attrs
click
colorama
coverage
Flask
Flask-Login
Flask-SQLAlchemy
greenlet
iniconfig
itsdangerous
Jinja2
MarkupSafe
mock
packaging
pip
pluggy
py
pyparsing
pytest
pytest-cov
setuptools
SQLAlchemy
toml
Werkzeug

-r data.json