{% extends 'base.html' %}

{% block content %}
<form action="#" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">New Flashcard Term</label>
      <input type="text" class="form-control" name="fc_term" aria-describedby="emailHelp" placeholder="Enter Flashcard Term">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="fc_def" rows="3" placeholder="Enter definition"></textarea>
    </div>
    <input type="submit" value='submit' class="btn btn-primary" formmethod="POST">
</form>
{% endblock %}