{% extends "base.html" %}
{% block main %}

<form class='container' action='' method="POST">
    <br>
    <h1>Add New Flashcard</h1>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p><b><i>{{msg}}</i></b></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-group">
        <label for="Term"><b>Term</b></label>
        <input type="text" class="form-control" id="term_input" placeholder="Enter term name here" name="term">
    </div>
    <br>
    <div class="form-group">
        <label for="definition"><b>Definition</b></label>
        <textarea class="form-control" id="definition_input" rows="3" placeholder="Enter definition here" name="definition"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-warning" formaction="/fc/add">Save</button>
    <button type="submit" class="btn btn-warning" name="cancel" formaction="/fc/">Cancel</button>
</form>


{% endblock %}