{% extends "base.html" %}
{% block main %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class='container'>
    <br>
    <div class="row show-grid">
        <h1 class="page-header">Editing Flashcard</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <h4>ID: {{ card.id }}</h4>   <!--specific id/term/def-->
            <h4>Term: {{ card.term }}</h4>
            <h4>Definition: {{ card.definition }}</h4>
        </li>
    </ul>

    <div class="card my-2">
        <div class="card-body">
            <form action="" method='POST'>
                <div class="form-group">
                    <label for="term">New Term</label>
                    <input type="text" name="term" class="form-control" id="term_input" placeholder="Enter new term">     <!--specific card term-->
                </div>
                <br>
                <div class="form-group">
                    <label for="definition">New Definition</label>
                    <textarea class="form-control" id="def_input" rows="3" placeholder="Enter new definition" name="definition"></textarea>    <!--specific card def-->
                </div>
                <br>
                <button type="submit" class="btn btn-warning" name='save' formaction="/fc/update/{{card.id}}">Save</button>
                <button type='submit' class='btn btn-warning' name='delete' formaction="/fc/delete/{{card.id}}">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}