{% extends "base.html" %}
{% block main %}

<div class='container'>
    <br>
    <h1>Your Flashcards</h1>
    <br>
    <div class="input-group mb-3 w-25 p-3">
        <input type="text" class="form-control" placeholder="Term to search" aria-label="Search term" aria-describedby="button-addon2" onkeyup="filterFunction()" id="searchTerm">
    </div>
    <table class="table" id="flashcardTable">
        <thead>
            <tr>
                <th>Term</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for card in flashcards %}    <!--accessing list of all flashcards in database-->
            <tr>
                <td>{{ card['term'] }}</td>   <!--grabbing specific term and def-->
                <td>{{ card['def'] }}</td>
                <td>
                    <button type="submit" class="btn btn-warning">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function filterFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchTerm");
        filter = input.value.toUpperCase();
        table = document.getElementById("flashcardTable");
        tr = table.getElementsByTagName("tr");
   
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}