{% extends "base.html" %}
{% block main %}

<div class='container'>
    <br>
    <h1>Your Flashcards</h1>
    <br>
    <div class="input-group mb-3 w-25 p-3">
        <input type="text" class="form-control" placeholder="Term to search" aria-label="Search term" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Term</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for card in flashcards %}    <!--accessing list of all flashcards in database-->
            <tr>
                <td>{{ card['term'] }}</td>   <!--grabbing specific term and def-->
                <td>{{ card['def'] }}</td>
                <td>
                    <button type="submit" class="btn btn-warning">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}