{% extends "base.html" %}
{% block main %}
<div class='container'>
    <br>
    <h1>Practice</h1>
    <p>Click to
    <button type="submit" class="btn btn-outline-dark">Start</button>
    </p>

    <div class="card my-2">
        <div class="card-body">
            <div class="form-group">
                <label for="question">What is? {{ card[term'] }} </label>
                <textarea class="form-control" id="def_input" rows="3" placeholder="Answer here" name="definition"></textarea>
                <br>
                <button type="submit" class="btn btn-outline-dark">Submit</button>  <!--have error pop up if incorrect value-->
            </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Next</button>
    </div>
</div>
    
{% endblock %}